.container {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  background-color: rgb(234, 234, 234);
  padding: 5px;
  gap: 5px;
}

.item {
  background-color: white;
}

.item:nth-child(43) {
  grid-column: auto / span 2;
}

.item:nth-child(44) {
  grid-column: auto / span 3;
}

.item:nth-child(45) {
  grid-column: auto / span 3;
}

.item:nth-child(46) {
  grid-column: auto / span 5;
}
